# Environments
.venv/
__pycache__/
.pytest_cache/
.ruff_cache/
.mypy_cache/
*.py[oc]
build/
dist/
wheels/
*.egg-info

# Data and Models
data/raw/*
data/processed/*
src/models/*.txt
src/models/*.pth

# OS files
.DS_Store
Thumbs.db

# Reports
reports/figures/*